
<%- include ('partials/header')-%>

<%post.forEach((data)=>{%>
    <div class="box">
    <h1><a href="/<%= data.name %>"><%= data.name %></a> Has to do</h1>
        <%data.item.forEach((result)=>{%>
            <p>=> <%= result %></p>
            <%});%>
        </div>
            <%});%>
    
<%- include ('partials/footer')-%>