<%- include("partials/header2") -%>

<a href="/" class="btn"><i class="fa-sharp fa-solid fa-house"></i></a>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach((data)=>{ %>
      <form action="/dele" method="post">
        <div class="item">
          <input type="hidden" name="hiddenInp" value="<%= listTitle %>">
          <input type="checkbox" name="chkbox" value="<%= data%>"  onChange="this.form.submit()">
          <p><%=  data  %></p>
        </div> 
      </form>
      <% }) %>

      <form class="item" action="/storeHouse" method="post" id="farm">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("partials/footer2") -%>
